<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ecs.el_commerce_app" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>El-Commerce</name>
    <description>
        Приложение для доступа к сервису компании EL-Commerce
    </description>
    <author email="support@einstein-studio.ru" href="http://einstein-studio.ru">
        Einstein Creative Studio
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
